*{
    font-family: 'Courier New', Courier, monospace;
}


h1{
    color: #1b74e4;
}
#searchbtm{
    background-color: black;
    color: white;
}
.userbtm {
    background-color: aqua;
    color: aqua;
}



